<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bricksmonitor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e3f33079-d69c-48cf-957b-e4c737161076/resourceGroups/BricksMonitor/providers/Microsoft.Web/sites/BricksMonitor</ResourceId>
    <UserName>$BricksMonitor</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bricksmonitor.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>